{% extends "layout.html" %}

{% block title %}
- Change the user's password
{% endblock %}

{% block content %}

{% load bootstrap %}

<form method="post" action="">{% csrf_token %}
    <h2 class="form-signin-heading">Password change</h2>

    <div class="alert alert-warning">
        <strong>Attention</strong>: after confirming the form, the user's password will be changed.
    </div>

    {{form | bootstrap}}

    <button type="submit" class="btn btn-primary">Change Password</button>
    <a href="{% url 'user_page' %}" class="btn btn-default">Cancel</a>
</form>
{% endblock %}