{% extends "layout.html" %}
{% block title %}- details of the task {{object.name}} {% endblock %}

{% block content %}

<h1>Task {{object.name}} details</h1>

<table class="table">
    <tbody>
        <tr>
            <td>Description</td><td>{{object.description}}</td>
        </tr>
        <tr>
            <td>Start</td><td>{{object.start}}</td>
        </tr>
        <tr>
            <td>End</td><td>{{object.end}}</td>
        </tr>
        <tr>
            <td>Done</td><td>{% if object.done %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <td>Declared time of task completion</td>
            <td>{{object.get_localized_task_time}}</td>
        </tr>
        <tr>
            <td>The actual time of completing the task</td>
            <td>{{object.get_localized_real_task_time}}</td>
        </tr>
    </tbody>
</table>

<a class="btn btn-default" href="{% url 'task_list' %}"><span class="glyphicon glyphicon-arrow-left"></span>
    Return to the task list
</a>

{% endblock %}